body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.qr-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.qr-icon img {
    width: 50px;
    height: 50px;
}

.qr-reader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#qr-reader {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#qr-result {
    color: white;
    font-size: 18px;
}
